// Posts and pages

figure {
  margin-right: 0;
  margin-left: 0;
  margin-top: 1.5em;
  margin-bottom: 2em;

  & > :nth-last-child(2) {
    margin-bottom: 0;

    & > :last-child {
      margin-bottom: 0;
    }
  }
  figcaption {
    color: #878787;
    margin-top: 0.3em;
    font-size: 0.8em;
    text-align: center;
  }
  &.screenshot {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;

    figcaption {
      margin-top: -1em;
      margin-right: 2em;
      margin-left: 2em;
    }
  }
  &.attributed-quote {
    margin-left: 0;
    margin-right: 0;

    figcaption {
      margin-top: 0.8em;
      margin-left: 4em;

      p {
        display: inline;
      }
      &::first-letter {
        margin-left: -2.5ex;
      }
    }
  }
}

@media screen and (max-width: 760px) {
  figure {
    margin-left: 1em;
    margin-right: 1em;
  }
}

@media screen and (max-width: 500px) {
  figure.screenshot figcaption {
    margin-top: 0;
  }
}

// End of alterations for captions.

.page,
.post {
  margin-bottom: 1em;

  li + li {
    margin-top: 0.25rem;
  }

  // the posts page is all maize in dark mode, doesn't look great
  li {
    a {
      color: $body-color;
      border-bottom: 1px solid $body-color;
      @media (prefers-color-scheme: dark) {
        color: $body-color-dark;
        border-bottom: 1px solid $dark;
      }
    }
  }

  @media (prefers-color-scheme: light) {
    a {
      border-bottom: 1px solid $body-color;
    }
  }
}

// Blog post or page title
.page-title,
.post-title,
.post-title a {
  color: $body-color;

  @media (prefers-color-scheme: dark) {
    color: $body-color-dark;
  }
}

.page-title,
.post-title {
  margin-top: 0;
}

// Meta data line below post title
.post-date {
  display: block;
  margin-top: -0.5rem;
  margin-bottom: 1rem;
  color: lighten($color: $body-color, $amount: 30);

  @media (prefers-color-scheme: dark) {
    color: darken($color: $body-color-dark, $amount: 30);
  }
}

.permalink {
  display: block;
  font-size: 90%;
  margin-top: -0.9rem;
  margin-bottom: 1.5rem;
  color: $body-color;

  @media (prefers-color-scheme: dark) {
    color: $body-color-dark;
  }
}

.external-link {
  display: block;
  font-size: 90%;
  margin-top: -0.9rem;
  margin-bottom: 1.5rem;
  opacity: 0.5;
  color: $body-color;

  @media (prefers-color-scheme: dark) {
    color: $body-color-dark;
  }
}

.tag-list {
  padding-top: 0px;
  padding-bottom: 4px;
  padding-right: 8px;
  border-radius: 5px;
  color: $body-color;

  @media (prefers-color-scheme: dark) {
    color: $code-dark;
  }
}

.PageNavigation {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  width: auto;
  overflow: hidden;
}

.PageNavigation a {
  display: inline;
  margin: 1em 0;
}

.PageNavigation .next {
  float: right;
  width: auto;
  text-align: right;
}
